body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


header {

    background-color: #0055A4; 
    text-align: center;
    padding: 20px;
}


header img {
    width: 150px;
}





nav {
    background-color: #0055A4;
    text-align: center;
    padding: 15px 0;
}



nav a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}


nav a:hover {
    text-decoration: underline;
}

.Rectangulo {
background-color: #e3ecf5;
width: 80%;
height: 150px;
opacity: 0.8;
border-radius: 10px;
position: absolute;

}

.container {
    
    background-image: url("Fondo.jpg");
    height: 968px;
    padding: 20px;
    text-align: center;
    color: #a70000;
}

.Blanco {
background-color:#0055A4;
position: absolute;
align-items:start;
width: 90%;
top: 340px;
left: 80px;
height: 840px;
font-size: 22px;
color: #ffffff;
text-align: center;


}


.Exodo {
    width: 980px;
    height: 310px;
    position: relative;
    top: 10px;
}

