<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../assets/css/History.css">
   
</head>


<body>

    <header>
        <nav>
            <div class="busqueda">
                <input type="text" name="busqueda" placeholder="BUSQUEDA">
            </div>

            <div class="logo">
                <img src="../assets/img/Logo/logo.jpeg" alt="">
            </div>

            <ul class="links">
                <li> <a href="../index.html">Home </a></li>
                <li><a href="menu.html"> Menu </a></li>
                <li> <a href="../views/History.html"> History </a></li>
                <li> <a href="../views/aboutus.html"> About us</a></li>
                <li> <a href="../views/schedules.html"> schedules </a></li>
            </ul>
        </nav>
    </header>
   
    <div class="CajaTexto">
        <p><span class="Coffee Ruhan"> Coffee Ruhan</span>We assume the commitment, with total conviction, to promote inclusion, diversity and equity in our stores and in each project we develop in any community in the world. 

 

            Only in this way, with concrete and achievable policies and initiatives, do we understand that we will be closer to generating tangible and lasting changes that will lead us to build environments free of discrimination, with freedom and equal opportunities for all those who make Ruhan. 
            
             
            
            That is why we are and will be relentless in promoting and cultivating inclusion policies.  We will be transparent in our equality and diversity objectives at all levels of the organization. And we will always be working hard to build ties in each community to promote the real changes that each of us must generate from our own space.

            <br>
            <br>

            Global Social Impact
 

            We are positive people, investing in the humanity and well-being of everyone we connect with. Every day, around the world, we are strengthening our communities. 
            We are convinced that engaging with our communities is not only the right thing to do, it is good for business.
            Year after year, our partners and customers inspire and surprise us with the way they join forces to make the world a better place.

           <br>
           <br>

           Positive impact on communities
 
 
        At Ruhan, giving back to our communities has always been part of who we are as a company. We believe that service is an altruistic and deliberate effort to help, uplift and add value to our communities. It is a commitment that is based on the belief that we can balance our profitability and our conscience towards society.

 

        community service
 

        Supporting our communities is an important part of how Ruhan makes a greater impact. Through our partners, who take part and create change in their neighborhoods, we make a significant impact around the world, which strengthens our communities. We recognize partners who cultivate their store connections as Ruhan Community Leaders.
        
        </p>

    </div>
   


</body>

</html>
 