<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../assets/css/menu.css">
</head>
<body>
    
    <header>
        <nav>
            <div class="busqueda">
                <input type="text" name="busqueda" placeholder="BUSQUEDA">
            </div>

            <div class="logo">
                <img src="../assets/img/Logo/logo.jpeg" alt="">
            </div>

            <ul class="links">
                <li> <a href="../index.html"> Home </a></li>
                <li> <a href="../views/menu.html"> Menu </a> </li>
                <li> <a href="../views/History.html"> History</a> </li>
                <li> <a href="../views/aboutus.html"> About us</a> </li>
                <li> <a href="../views/schedules.html"> schedules</a> </li>
            </ul>
        </nav>
    </header>

    <section>
    <div class="articulos">
        <h2>The Most Request</h2>
        <div>


            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/caf-hue.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>coffee with egg</h3>
                    <div>
                        <p> 310$</p>
                        <button>Add item</button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/med.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>scrambled sandwich</h3>
                    <div>
                        <p>130$</p>
                        <button>Add item</button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/sand.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>2 scrambled sandwich</h3>
                    <div>
                        <p>230$</p>
                        <button>Add item</button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/caf as.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>scrambled roll and coffee</h3>
                    <div>
                        <p>310$</p>
                        <button>Add item</button>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    <div class="articulos">
        
        <div>

            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/hog.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>donut with fruits and oats </h3>
                    <div>
                        <p> 270$</p>
                        <button>Add item</button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/limcom.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>salty fruit and lemon</h3>
                    <div>
                        <p>420$</p>
                        <button>Add item</button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/frutcaf.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>fruits and coffee</h3>
                    <div>
                        <p>230$</p>
                        <button>Add item</button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/te.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>fruit with egg and coffee</h3>
                    <div>
                        <p>150$</p>
                        <button>Add item</button>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    <div class="articulos">
        
        <div>

            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/frut.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>fruit and meat salad</h3>
                    <div>
                        <p> 270$</p>
                        <button>Add item</button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/fruti.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>fruitswith strawberry juice</h3>
                    <div>
                        <p>120$</p>
                        <button>Add item</button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/ens.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>fruits with meat salad</h3>
                    <div>
                        <p>240$</p>
                        <button>Add item</button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div class="articulo-imagen">
                    <img src="../assets/img/Menu2.0/en.jpg" alt="">
                </div>
                <div class="articulo-info">
                    <h3>delicious sandwitch with coffee</h3>
                    <div>
                        <p>150$</p>
                        <button>Add item</button>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>