<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Mision</title>
    <link rel="stylesheet" href="../assets/css/Preparation.css">
   
</head>


<body>

    <header>
        <nav>
            <div class="busqueda">
                <input type="text" name="busqueda" placeholder="BUSQUEDA">
            </div>

            <div class="logo">
                <img src="../assets/img/Logo/logo.jpeg" alt="">
            </div>

            <ul class="links">
                <li> <a href="../index.html"> Home </a></li>
                <li> <a href="../views/menu.html"> Menu </a> </li>
                <li> <a href="../views/History.html"> History</a> </li>
                <li> <a href="../views/aboutus.html"> About us</a> </li>
                <li> <a href="../views/schedules.html"> schedules</a> </li>
            </ul>
        </nav>
    </header>
   
    <div class="CajaTexto">
        <p><span class="Coffee Ruhan"> Our Mission </span>  Inspiring and nurturing the human spirit: One person, one cup, and one community at a time. <br>

            These are the principles that guide us in fulfilling our mission every day:
            <br>
            <br>
            Our coffee
            <br>

It has always been and will always be a matter of quality. We are passionate about knowing that we have a social and responsible commitment to the suppliers of the best coffee beans, and we seek to do our best to roast the beans and improve the lives of the people who grow them. Our deep interest in all these aspects means that our work is never finished.<br> <br>

Our partners<br> 

We are called partners because what we do is not just a job, it is our passion. Together, we embrace diversity to create a place that allows each of us to be our authentic selves. We always treat each other with respect and dignity. We value each other according to this principle. <br> <br>

Nuestros clientes <br>
 

Cuando nos entregamos de lleno a lo que hacemos, nos relacionamos con nuestros clientes, reímos con ellos y les levantamos el ánimo, aunque sea por un instante. Es cierto que comenzamos nuestro trabajo con la promesa de una bebida preparada a la perfección, pero es mucho más que eso. En realidad, se trata de relacionarnos con las personas. <br> <br>
  
Our Community <br>

Every store is part of a community, and we take our responsibility as good neighbors seriously. We want to be welcomed wherever we do business. We are able to contribute positively because we work to unite partners, customers and the community to cooperate every day. We now realize that the scope of our responsibility and our potential to do good are even greater than before. Once again, the world is looking to Starbucks to set the new standard. We will lead.
        </p>


    </div>
   
    


</body>


</html>
