<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preparation</title>
    <link rel="stylesheet" href="../assets/css/Preparation.css">
   
</head>


<body>

    <header>
        <nav>
            <div class="busqueda">
                <input type="text" name="busqueda" placeholder="BUSQUEDA">
            </div>

            <div class="logo">
                <img src="../assets/img/Logo/logo.jpeg" alt="">
            </div>

            <ul class="links">
                <li> <a href="../index.html"> Home </a></li>
                <li> <a href="../views/menu.html"> Menu </a> </li>
                <li> <a href="../views/History.html"> History</a> </li>
                <li> <a href="../views/aboutus.html"> About us</a> </li>
                <li> <a href="../views/schedules.html"> schedules</a> </li>
            </ul>
        </nav>
    </header>
   
    <div class="CajaTexto">
        <p><span class="Coffee Ruhan"> Coffee Ruhan</span> In our company, the excellence in every cup of coffee is the result of a meticulous process that respects both nature and tradition. From the selection of the beans to the final cup, we follow rigorous quality standards that allow us to deliver an unparalleled product.


            Grain selection: We partner directly with the most committed farmers, who grow grains in the most fertile regions of the world, respecting sustainable and fair trade practices. Each grain is carefully selected, ensuring its freshness and quality.
            
            
            Artisanal roasting: We use artisanal roasting techniques to highlight the unique character of each origin. Our master roasters adjust each roast profile to achieve the maximum flavor expression, maintaining a perfect balance between acidity, sweetness, and body.
            
            
            Quality control: Each batch of coffee goes through a rigorous quality control process, where we evaluate aspects such as aroma, texture, and flavor. Only the batches that meet our highest standards reach the consumer.
            
            
            Innovation and sustainability: We combine tradition with innovation. In addition to perfecting classical methods, we invest in technologies that allow us to reduce our carbon footprint and promote sustainability throughout the production chain.
            
            
            Passion in every cup: We believe that every cup of coffee is a work of art, and we treat each step with the same dedication. From the earth to the cup, our goal is to provide you with an unparalleled experience in every sip.
            
            
            Our mission is not only to offer the best coffee in the world but also to do so responsibly, committed to the well-being of people and the planet.
          
        </p>

        <button> <a href="../views/ourmision.html"> Our Mission </a></button>

    </div>
   
    


</body>


</html>


